
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
auth.json
browser-profile/
auth.json
browser-profile/
test-results/
playwright-report/
